{% extends "base.html" %}

{% block head %}
<title>Communities</title>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Communities</h1>
  <div class="row">
    {% for community in communities %}
    <div class="col-md-4 mb-3">
      <div class="card">
        <img src="{{ community.photoUrl }}" class="card-img-top" alt="{{ community.name }}" />
        <div class="card-body">
          <h5 class="card-title">{{ community.name }}</h5>
          <p class="card-text">{{ community.description }}</p>
          <a href="/api/community/update/{{ community.uid }}" class="btn btn-primary">Update</a>
          <button class="btn btn-danger delete-btn" data-community-id="{{ community.uid }}">
            Delete
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
