{% extends "base.html" %}

{% block head %}
<title>Create News</title>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Create News</h1>
  <form action="/api/news/create" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Title:</label>
      <input type="text" class="form-control" id="title" name="title" required>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description:</label>
      <textarea class="form-control" id="description" name="description" required></textarea>
    </div>

    <div class="mb-3">
      <label for="tags" class="form-label">Tags:</label>
      <input type="text" class="form-control" id="tags" name="tags" required>
    </div>

    <div class="mb-3">
      <label for="communityID" class="form-label">Community ID:</label>
      <input type="text" class="form-control" id="communityID" name="communityID" required>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
