{% extends "base.html" %}

{% block head %}
<title>Update News</title>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card mt-5">
        <div class="card-header bg-primary text-white">
          <h3 class="card-title">Update News</h3>
        </div>
        <div class="card-body">
          <form action="/api/news/update/{{ details.id }}" method="POST">
            <div class="mb-3">
              <label for="title" class="form-label">Title:</label>
              <input type="text" class="form-control" id="title" name="title" value="{{ details.title }}" required>
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description:</label>
              <textarea class="form-control" id="description" name="description" rows="3"
                required>{{ details.description }}</textarea>
            </div>
            <div class="mb-3">
              <label for="tags" class="form-label">Tags:</label>
              <input type="text" class="form-control" id="tags" name="tags" value="{{ details.tags }}" required>
            </div>
            <div class="mb-3">
              <label for="communityID" class="form-label">Community ID:</label>
              <input type="text" class="form-control" id="communityID" name="communityID"
                value="{{ details.community_id }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
