{% extends "base.html" %}

{% block head %}
<title>API Keys</title>
{% endblock %}

{% block content %}
<div class="container">
  <h1>API Keys</h1>
  <div class="row">
    {% for key in keys %}
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ key.owner_name }}</h5>
          <p class="card-text">Owner UID: {{ key.owner_uid }}</p>
          <p class="card-text">Owner Email: {{ key.owner_email }}</p>
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
