{% extends "base.html" %}

{% block head %}
<title>404 - Page Not Found</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('styles',filename='errors/404.css') }}">

{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="text-center mt-5">
        <h1 class="display-4">404 - Page Not Found</h1>
        <img src="{{ link }}" alt="404 Error Image" class="img-fluid mt-4" />
        <p class="lead mt-4">Oops! Looks like you've stumbled upon a broken link.</p>
        <p class="mt-4">Return to <a href="/" class="text-primary">Home</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
